/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  border-bottom: 1px solid $border-color;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;
  background-color: #d9f7cd;
  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 1em 1em 1em;
    font-family: $sans-serif-narrow;
    color: #5c5757;
    @include breakpoint($x-large) {
      max-width: $x-large;
      background-color: #d9f7cd;
    }

    nav {
      z-index: 10;
      background-color: #d9f7cd;
    }

    a {
      text-decoration: none;
      background-color: #d9f7cd;
    }
  }
}

.masthead__menu {
  background-color: #d9f7cd;
  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
    background-color: #d9f7cd;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;
  background-color: #d9f7cd;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
    background-color: #d9f7cd;
  }
}

#particles canvas{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}